<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<meta charset="UTF-8"/>
		<title>Templates</title>
	</head>
	<body>
	
		<form th:action="@{/createEmptyOntology}" th:object="${ontologyForm}" method="post">
			<h1>Введите URI онтологии</h1>
			<input type="text" th:field="*{uri}" />
			<input type="submit" name="createOntologyBtn" value="Создать онтологию"/>
		</form>

		<form th:action="@{/readDefoultOntology}" method="post">
			<input type="submit" name="readDefoultOntologyBtn" value="Считать онтологию"/>
		</form>
		
		<form action="#" th:action="@{/createClasses}" method="post">
			<input type="submit" name="createClassesOntologyBtn" value="Создать классы онтологии"/>
		</form>
		<br/>
		<br/>
		<br/>
		<form th:action="@{/setDateTypeProperty}" th:object="${changePropertyForm}" method="post">
			<h1>Изменение DatatypeProperty</h1>
			<input type="text" th:field="*{nameIndividual}" />
			<input type="text" th:field="*{nameProperty}" />
			<input type="text" th:field="*{newValue}" />
			<input type="submit" name="changeDateTypePropertyBtn" value="Изменить DateTypeProperty"/>
		</form>
		<br/>
		<br/>
		<br/>
		<form th:action="@{/setObjectPropertyValue/}" th:object="${changePropertyForm}" method="post">
			<h1>Изменение ObjectProperty</h1>
			<input type="text" th:field="*{nameIndividual}" />
			<input type="text" th:field="*{nameProperty}" />
			<input type="text" th:field="*{newValue}" />
			<input type="submit" name="changeObjectPropertyBtn" value="Изменить ObjectProperty"/>
		</form>
	</body>
</html>